.description {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 690px;
}
@media screen and (max-width: 768px) {  
    .description {
        grid-template-columns: minmax(288px, 720px);
    }
}
@media screen and (max-width: 320px) {
	.description {
		grid-template-columns: minmax(288px, 568px);
	}
}

