.onthedogs__title-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    position: relative;
    text-decoration: none;
    color: #FFF;
    min-height: 740px;
    background-image: url('../../../images/__background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.onthedogs__title-wrapper::before {
    content: "";
    position: absolute;
    z-index: 1;
    text-decoration: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2A2C2F;
    opacity: .3;
}
.onthedogs__title-wrapper:hover::before {
    opacity: .8;
}
@media screen and (max-width: 1024px) {
    .onthedogs__title-wrapper {
        min-height: 640px;
    }
}
@media screen and (max-width: 768px) {
    .onthedogs__title-wrapper {
        min-height: 480px;
    }
}
@media screen and (max-width: 320px) {
    .onthedogs__title-wrapper {
        min-height: 200px;
    }
}