.page__gallery {
    padding: 0 48px; 
}
@media screen and (max-width: 1024px) {
    .page__gallery {
        padding: 0 24px; 
    }
}
@media screen and (max-width: 568px) {
    .page__gallery {
        padding: 0 16px; 
    }
}
