@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("./fonts/Inter-Regular.woff2") format("woff2"),
         url("./fonts/Inter-Regular.woff") format("woff");
}

/* @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 900;
    font-display: swap;
    src: url("./fonts/Inter-Bold.woff2") format("woff2"),
         url("./fonts/Inter-Bold.woff") format("woff");
} */

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 900;
    font-display: swap;
    src: url("./fonts/Inter-Black.woff2") format("woff2"),
         url("./fonts/Inter-Black.woff") format("woff");
}
.page {
    margin: 0 auto;
    max-width: 1280px;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #2A2C2F;
    font-family: 'Inter', Arial, sans-serif;
}

/* .root {
    
    max-width: 928px;
    margin: 0 auto;
} */

.nav {
    display: flex; 
    justify-content: space-between;
    
}

.nav_position_top {
    padding: 28px 48px 0;
}


.nav__switcher {
    display: flex;
}

.nav__switcher_lang_ru {
    margin-right: 18px;
    color: #FFFFFF;
    text-decoration: underline;
}

.nav__switcher_lang_en {
    color: #FFFFFF;
}

.header__title{
    max-width: 720px;
    text-align: center;
    margin: 0;
    padding: 56px 0 32px;
    margin: 0;
    color: #FFFFFF;
    font-size: 96px;
    font-family: 'Inter';
    font-weight: 900;
    line-height: 100px;
}



.header__subtitle {
    color: #FFFFFF;
    max-width: 640px;
    font-size: 30px;
    text-align: center;
    margin: 0;
    font-family: 'Inter';
    font-weight: 400;
    Line-height: 36px;
    padding-bottom: 64px;
    margin: 0;
}



.header {
    max-width: 984px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.map {
    position: relative;
    display: flex;
}
.map__main-illustration {
    width: 100%;
}
.map__way {
    position: absolute;
    top: 128.61px;
    left: 41.5px;
    width: 886px;
    height: 224.59px;
}

.undermap-text {
    margin: 0;
    align-self: flex-start;
    text-transform: uppercase;
    font-size: 10px;
    padding-top: 6px;
    color: #FFFFFF;
    font-family: 'Inter';
    font-weight: 400;
    letter-spacing: 1.5px;
}


.description {
    min-width: 615px;
    
}

.description__title {
    color: #FFFFFF;
    font-size: 54px;
    font-family: 'Inter';
    font-weight: 900;
    line-height: 58px;
    /* text-align: center; */
    /* margin-left: 148px; */
    
}