.description__footer_position_article {
    padding-top: 33px;
    margin: 0;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 700;
    line-height: 18px;
    font-size: 12px;
    color: #FFFFFF;
    list-style: none;
    padding-left: 0;
}