.onthedogs__baikal {
    grid-row: 1/1;
    grid-column: 1/1;
    width: 100%;
    
    background-image: url('../../../images/__background.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 62.5%;
    
}
