.footer__nav {
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
    margin: 0 auto;
    padding-top: 92px;
    padding-bottom: 24px;
}
@media screen and (max-width: 1024px) {
    .footer__nav {
        padding: 92px 48px 24px;
    }
}
@media screen and (max-width: 768px) { 
    .footer__nav {
        padding-right: 24px;
        padding-left: 24px;
    }
}
@media screen and (max-width: 740px) {
    .footer__nav {
        flex-direction: column;
        padding: 64px 0 24px 16px;
    }
}
