.place {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 460px 1fr;
    grid-gap: 48px 40px;
}

@media screen and (max-width: 1024px) {
    .place {
        grid-template-columns: minmax(340px, 440px) auto;
        grid-gap: 48px 32px;
    }
}
@media screen and (max-width: 768px) {
    .place {
        grid-template-columns: minmax(200px, 340px) auto;
        grid-gap: 48px 28px;
    }
}
@media screen and (max-width: 568px) {
    .place {
        grid-template-columns: auto;
        grid-gap: 32px;
    }
}
@media screen and (max-width: 320px) {
    .place {
        grid-template-columns: 320px;
    }
}
